// BOOTSTRAP =======================================================================================
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// =================================================================================================
// VARIABLES =======================================================================================
$color-red-main: #ff5656;
$color-gray-main: #999999;
$color-blue-main: #1eacc7;
$color-blue-second: #1ca8c3;
$color-blue-third: #1fbad6;
$color-blue-liner: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
$color-blue-liner-revers: linear-gradient(0deg, #4ce2ff 0%, #1eacc7 100%);
$color-white: #ffffff;
$color-black: #000000;
$color-black-dark-blue: #070716;
$color-black-brown-dark: #202020;
$color-black-brown-light: #222222;
$color-black-brown-middle: #212121;
$color-black-purple: #080816;
// =================================================================================================
// BASE ============================================================================================
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.button {
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: $color-white;
    background: $color-blue-liner;
    cursor: pointer;
    text: {
        transform: uppercase;
        align: center;
        shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    }

    &:hover {
        background: $color-blue-liner-revers;
    }
}

.label {
    margin: 0 auto;
    font-size: 11px;
    line-height: 24px;
    color: $color-white;
    text: {
        align: center;
        transform: uppercase;
    }

    span {
        display: inline-block;
        padding: 0 12px;
        background-color: $color-black;
    }
}

.title {
    margin: 33px 0 0 0;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    color: $color-black-brown-light;
    text: {
        align: center;
        transform: uppercase;
    }
}

.subtitle {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: $color-black-brown-light;
}
// =================================================================================================
// Header ==========================================================================================
.header {
    position: relative;
    margin-top: 50px;

    &__nav {
        position: fixed;
        width: 100%;
        transform: translateY(-100%);
        height: 50px;
        display: flex;
        align-items: center;
        background: $color-black-brown-middle;
        z-index: 5;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 10px 0;

        &__item {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            border-right: 2px dotted $color-black;

            &:last-child {
                border-right: none;
            }
        }

        &__link {
            display: inline-block;
            text-decoration: none;
            color: $color-white;
            font: {
                weight: 300;
                size: 15px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .subheader {
        position: absolute;
        width: 100%;
        min-height: 84px;
        background: rgba($color: $color-black, $alpha: 0.6);

        &__logo {
            display: inline-block;
            max-width: 100%;
            margin: 16px 0 0 0;
        }

        &__official {
            margin: 6px 0 0 0;
            color: rgba($color: $color-white, $alpha: 0.6);
            font: {
                weight: 400;
                size: 13px;
            }
        }

        &__call {
            margin: 22px 0 0 0;
            line-height: 14px;
            text-align: right;
            color: rgba($color: $color-white, $alpha: 0.6);
            font: {
                weight: 300;
                size: 12px;
            }
        }

        &__phone {
            display: block;

            line-height: 24px;
            color: $color-white;
            font-size: 22px;
            text: {
                align: right;
                decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__button {
            margin: 19px 0 0 0;
            font-size: 14px;
            line-height: 46px;
        }
    }
}
// =================================================================================================
// Promo ===========================================================================================
.promo {
    padding: 150px 0 135px 0;
    text-align: center;
    background: {
        image: url(../img/bg/uber_bgmain-bg.png);
        position: center center;
        repeat: no-repeat;
        size: cover;
    }

    &__title {
        margin-bottom: 0;
        line-height: 60px;
        text-transform: uppercase;
        color: $color-white;
        font: {
            weight: 700;
            size: 60px;
        }
    }

    &__subtitle {
        line-height: 36px;
        text-transform: uppercase;
        color: $color-white;
        font: {
            weight: bold;
            font-size: 36px;
        }
        margin: {
            top: 22px;
            bottom: 0;
        }
    }

    &__text {
        margin-top: 18px;
        font-size: 18px;
        line-height: 24px;
        color: $color-white;
    }

    &__button {
        margin: 115px auto 0 auto;
        width: 259px;
        line-height: 63px;
    }
}
// =================================================================================================
// Reasons =========================================================================================
.reasons {
    padding: 20px 0 38px 0;

    // &__label {
    // }

    &__title {
        margin: {
            bottom: 16px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 30px 30px 30px;
    }

    &__picture {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        width: 116px;
        height: 116px;
        border-radius: 50%;
        background-color: $color-blue-main;
    }

    // &__img {
    // }

    &__text {
        @media (min-width: 992px) {
            align-self: flex-start;
        }
    }

    &__name {
        margin: 0;
        font-size: 17px;
        line-height: 21px;
        color: $color-blue-main;
    }

    &__descr {
        margin: 4px 0 0 0;
        line-height: 21px;
        color: $color-black-brown-dark;
        text-align: justify;
        font: {
            weight: 300;
            size: 15px;
        }
    }
}
// =================================================================================================
// Mobail ==========================================================================================
.mobile {
    padding: 48px 0 79px 0;
    background: url(../img/bg/mobile_bg.png) center center/cover no-repeat;

    .row {
        margin-top: 30px;
    }

    &__title {
        line-height: 48px;
    }

    &__subtitle {
        line-height: 21px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 19px auto;
        padding: 92px 0 35px 0;
        width: 320px;
        height: 280px;

        background: {
            size: cover;
            repeat: no-repeat;
            position: center center;
        }

        @for $i from 1 to 7 {
            &_#{$i} {
                background-image: url(../img/mobil/card_#{$i}.png);
            }
        }
    }

    &__item-title {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
    }

    &__item-plus {
        position: relative;
        margin: 0 auto;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: $color-black;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 0.5s ease 0s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-blue-main;
            transition: background-color 0.5s ease 0s;
        }
        &::before {
            width: 14px;
            height: 2px;
        }
        &::after {
            width: 2px;
            height: 14px;
        }

        &:hover {
            transform: rotate(180deg);
            &::before,
            &::after {
                background-color: $color-red-main;
            }
        }
    }
}
// =================================================================================================
// Auto ============================================================================================
.auto {
    padding: 54px 0 137px 0;
    background: {
        image: url(../img/bg/auto_bg.png);
        position-y: bottom;
        repeat: no-repeat;
        size: 100% 45%;
        color: $color-black-dark-blue;
    }

    &__label {
        color: $color-black-dark-blue;
        span {
            background-color: $color-white;
        }
    }

    &__title {
        color: $color-white;
    }

    &__subtitle {
        color: $color-white;
    }

    &__img {
        display: block;
        margin: 54px auto 0 auto;
    }

    &__text {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: $color-black-brown-light;
    }
}
// =================================================================================================
// Conditions ======================================================================================
.condition {
    padding: 68px 0 84px 0;

    // &__label {
    // }

    // &__title {
    // }

    &__list {
        margin: 33px 0;
        &_no-mb {
            margin-bottom: 0;
        }
    }

    &__list-name {
        margin: 0;
        font-size: 22px;
        color: $color-blue-second;

        &_red {
            color: $color-red-main;
        }
    }

    &__list-items {
        margin: 20px 0 0 0;
        padding-left: 50px;
        list-style-type: none;

        li {
            position: relative;
            margin-bottom: 20px;
            font-weight: 300;
            font-size: 17px;
            line-height: 18px;
            color: $color-black-brown-light;

            &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: -30px;
                width: 20px;
                height: 20px;
                background: {
                    image: url(../img/icons/check_blue.png);
                    size: 100%;
                    repeat: no-repeat;
                }
            }
        }

        &_red {
            li {
                &::before {
                    background-image: url(../img/icons/check_red.png);
                }
            }
        }
    }

    &__text {
        font-weight: 300;
        font-size: 17px;
        color: $color-blue-second;
    }
}
// =================================================================================================
// World ===========================================================================================
.world {
    position: relative;
    padding: 48px 0 48px 0;
    min-height: 720px;
    background: {
        image: url(../img/bg/world_bg.png);
        position: center;
        repeat: no-repeat;
        size: contain;
        color: #080816;
    }

    &__label {
        color: $color-black-dark-blue;
        span {
            background-color: $color-white;
        }
    }

    &__title {
        font-weight: normal;
        color: $color-white;
    }

    &__subtitle {
        margin-top: 2px;
        color: $color-white;
    }

    &__link {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 48px;
        display: flex;
        justify-content: center;

        a {
            font-size: 15px;
            line-height: 68px;
            text: {
                align: center;
                transform: uppercase;
                decoration: none;
            }
            color: $color-blue-third;

            &:hover {
                text-decoration: underline;
                color: $color-red-main;
            }
        }
    }
}
// =================================================================================================
// Footer ==========================================================================================
.footer {
    position: relative;
    padding: 50px 25px 40px 25px;
    display: flex;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 299px;
        height: 4px;
        background: $color-blue-third;
    }

    &__social {
        width: 33.333%;
    }

    &__menu {
        width: 33.333%;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            list-style-type: none;
        }
    }

    &__mune-first {
    }

    &__mune-second {
        margin-top: 15px;
    }

    &__mune-lang {
        margin-top: 17px;
    }

    &__mune-link {
        display: inline-block;
        text-decoration: none;

        &_first {
            margin: 0 23px;
            font-weight: 300;
            font-size: 15px;
            line-height: 15px;
            text-transform: uppercase;
            color: $color-black-dark-blue;
        }

        &_second {
            margin: 0 11px;
            font-weight: 300;
            font-size: 11px;
            line-height: 11px;
            text-transform: uppercase;
            color: $color-gray-main;
        }

        &_lang {
            font-size: 11px;
            line-height: 11px;
            text-transform: uppercase;
            color: $color-blue-third;
        }
    }

    &__mobile-apps {
        width: 33.333%;
        display: flex;
        justify-content: flex-end;

        img {
            border-radius: 6px;
            margin-right: 6px;
            width: 120px;
            // height: 26px;
        }
    }
}

.social {
    display: flex;

    &__link {
        margin-right: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-black-dark-blue;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__icon {
        height: 16px;
    }
}
