$color-red-main: #ff5656;
$color-gray-main: #999999;
$color-blue-main: #1eacc7;
$color-blue-second: #1ca8c3;
$color-blue-third: #1fbad6;
$color-blue-liner: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
$color-blue-liner-revers: linear-gradient(0deg, #4ce2ff 0%, #1eacc7 100%);
$color-white: #ffffff;
$color-black: #000000;
$color-black-dark-blue: #070716;
$color-black-brown-dark: #202020;
$color-black-brown-light: #222222;
$color-black-brown-middle: #212121;
$color-black-purple: #080816;
